.newTask {
    color: #fff;
    margin: 20px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    background-image: linear-gradient(to right top, #658dc2, #5993be, #5598b7, #599bae, #639ea6);
}

.newTask:hover {
    color: #000;
}